<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
<head>
	<meta charset="UTF-8"/>
	<title>{{ msg('app-title') }}</title>

	{{ encore_entry_link_tags('app') }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body {% if is_rtl() %}class="rtl"{% endif %}>
<header class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1>{{ msg( 'app-title' ) }}</h1>
		<p class="lead">{{ msg( 'app-subtitle' ) }}</p>
	</div>
</header>
<main class="container">

	{% for type, msgs in app.flashes|merge(messages ?? {}) %}
		<div class="alerts">
			{% for msg in msgs %}
				<div class="alert alert-{{ type }}">{{ msg }}</div>
			{% endfor %}
		</div>
	{% endfor %}

	{% block main %}
	{% endblock %}

</main>

<footer class="footer small container border-top pt-3 my-5">
	<p class="m-0">
		{% set version_link %}
			<a href="https://github.com/wikimedia/ws-export/releases/tag/{{ git_tag() }}" title="{{ msg( 'commit-label', [ git_hash_short() ] ) }}">
				{{ msg( 'version', [ git_tag() ] ) }}{#
			#}</a>{#
		#}{% endset %}
		{{ msg( 'footer-version', [ msg( 'app-title' ), version_link ] ) }}
		{% set license_link %}
			<a rel="licence" href="https://www.gnu.org/licenses/gpl.html">
				{{ msg( 'license-link' ) }}{#
			#}</a>{#
		#}{% endset %}
		{{ msg( 'licensed-under', [ license_link ] ) }}
	</p>
	<p class="m-0">
		{% set source_link %}
			<a href="https://github.com/wikimedia/ws-export">
				{{ msg( 'source-link' ) }}{#
			#}</a>{#
		#}{% endset %}
		{% set docs_link %}
			<a href="https://wikisource.org/wiki/Wikisource:WS_Export">
			{{ msg( 'docs-link' ) }}{#
		#}</a>{#
		#}{% endset %}
		{{ msg( 'source-and-docs', [ source_link, docs_link ] ) }}
	</p>
	<p class="m-0">
		{% set stats_link %}
			<a href="{{ path('statistics') }}">
			{{ msg( 'statistics-link' ) }}{#
		#}</a>{#
		#}{% endset %}
		{{ msg( 'statistics', [ stats_link ] ) }}
		{{ msg( 'issues', [ '<a href="https://phabricator.wikimedia.org/tag/ws-export">#ws-export</a>' ] ) }}
		<a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=ws-export" class="badge badge-pill badge-info">
			{{ msg( 'issue-button' ) }}
		</a>
	</p>
</footer>

{{ encore_entry_script_tags('app') }}
</body>
</html>
