{% extends 'base.html.twig' %}

{% block main %}

<form method="get" action="{{ path('home') }}" role="form" class="form-horizontal">
	<fieldset>
		<legend>{{ msg('export-book') }}</legend>
		<div class="form-group">
			<label for="lang" class="col-lg-2 control-label">{{ msg('lang-field-label') }}</label>

			<div class="col-lg-10">
				<select name="lang" class="form-control" required id="lang">
					{% for l,n in langs %}
						<option value="{{ l }}" {% if l == lang %}selected{% endif %}>{{ msg('lang-field-value', [n, l]) }}</option>
					{% endfor %}
				</select>
				<span class="help-block">{{ msg( 'lang-field-help' ) }}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="page" class="col-lg-2 control-label">{{ msg( 'title-field-label' ) }}</label>

			<div class="col-lg-10">
				<input name="page" id="page" type="text" size="30" required="required" class="form-control"
					value="{{ title }}" />
				<span class="help-block">{{ msg( 'title-field-help' ) }}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="format" class="col-lg-2 control-label">{{ msg( 'format-field-label' ) }}</label>

			<div class="col-lg-10">
				<select id="format" name="format" class="form-control">
					{% for f in formats %}
						<option value="{{ f }}" {% if f == format %}selected="selected"{% endif %}>
							{{ msg( 'format-' ~ f ) }}
						</option>
					{% endfor %}
				</select>
				<span class="help-inline">{{ msg( 'format-field-help' ) }}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="fonts" class="col-lg-2 control-label">{{ msg( 'font-field-label' ) }}</label>
			<div class="col-lg-10">
				<select id="fonts" name="fonts" class="form-control">
					<option value="">{{ msg( 'no-font-option' ) }}</option>
					{% for key,label in fonts %}
						<option value="{{ key|e('html_attr') }}" {% if key == font %}selected="selected"{% endif %}>
							{{ key }}
						</option>
					{% endfor %}
				</select>
				<p class="help-block">{{ msg( 'font-field-help', [ fonts|length ] ) }}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">{{ msg( 'options-label' ) }}</label>

			<div class="col-lg-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="false" {% if not credits %}checked="checked"{% endif %} name="credits" />
						{{ msg( 'credits-field-label' ) }}
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="false" {% if not images %}checked="checked"{% endif %} name="images" />
						{{ msg( 'images-field-label' ) }}
					</label>
				</div>
				{% if enableCache %}
					<div class="checkbox">
						<label class="checkbox">
							<input type="checkbox" value="1" {% if nocache %}checked="checked"{% endif %} name="nocache" />
							{{ msg( 'nocache-field-label' ) }}
						</label>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input class="btn btn-primary" type="submit" value="{{ msg( 'export-button' ) }}" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
