{% extends 'base.html.twig' %}

{% block main %}

<div class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="{{ path('home') }}">{{ msg('breadcrumbs-home-link') }}</a></li>
		<li class="active">{{ msg('breadcrumbs-stats-link') }}</li>
	</ol>
	<div class="row stats">
		<div class="col-md-4 recents">
			<h1 class=""><strong>{{ msg('recently-popular-heading') }}</strong></h1>
			<h4 class="text-muted">{{ msg('recently-popular-subtext') }}</h4>
			<ol>
				{% for book in recently_popular %}
					<li class="recent row">
						<div class="col-md-9">
							<h4 class="text-muted">
								{{ book.total }}
								{% if book.total > 1 %}
									downloads
								{% else %}
									download
   								{% endif %}
							<h4>
							<h3>
								<a href="https://{{ book.lang }}.wikisource.org/wiki/{{ book.title }}" title="View on Wikisource">
									{{ book.title|replace({'_': ' '}) }}
								</a>
							</h3>
						</div>
						<div class="col-md-3">
							<a href="{{ path('home', { lang: book.lang, page: book.title } ) }}" title="Download epub">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/EPUB_silk_icon.svg/20px-EPUB_silk_icon.svg.png" alt="The epub logo."/>
							</a>
						</div>
					</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col-md-8">
			{% include '_month_year_selector.html.twig' with {month: month, year: year} %}
			<table class="table table-striped">
				<caption>{{ msg('stat-date-label') }} {{ month }}/{{ year }}</caption>
				<thead>
					<tr>
						<th scope="col">Language</th>
						{% for format,value in total %}
							<th scope="col">{{ format }} </th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for lang,temp in val %}
						<tr>
							<th scope="row">{{ lang }}</th>
							{% for format,value in total %}
								<td>
									{% if attribute(temp, format) is defined %}
										{{ attribute(temp, format) }}
									{% else %}
										0
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th scope="row">Total</th>
						{% for format,value in total %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				</tfoot>
			</table>
			{% include '_month_year_selector.html.twig' with {month: month, year: year} %}
		</div>
	</div>
</div>


{% endblock %}
